.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: #1A1C22; /* Platinum Dusk */
}

.meetUserVideo {
    position: absolute;
    bottom : 10vh;
    height: 30vh;
    width: auto;
    left: 20px;
    border-radius: 1.5rem;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg{
    font-size: 3rem;
}

.conferenceView {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.conferenceView video {
    height: 40vh;
    min-width: 20vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    width: 25vw;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    bottom: 10vh;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chatContainer h2 {
    text-align: center;
}

.chattingArea {
    position: absolute;
    bottom: 0;
}