.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: #1A1C22; /* Platinum Dusk */
}

.meetUserVideo {
    position: absolute;
    bottom : 10vh;
    height: 30vh;
    width: auto;
    right: 0;
    border-radius: 1.5rem;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg{
    font-size: 3rem;
}

.conferenceView {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.conferenceView video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}